In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.service import Service
import openpyxl

In [2]:
s=Service("D:\chromedrive\chromedriver.exe")
driver=webdriver.Chrome(service=s)

In [3]:
driver.get("https://www.easyleadz.com/lists/Top-Information-Technology-companies-list-India")

In [4]:
name=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[1]/tbody/tr/td[1]/h3/a')

In [5]:
industry=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[1]/tbody/tr/td[1]/table/tbody/tr[1]/td[2]')

In [6]:
no_of_employees=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[1]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]')

In [7]:
location=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[1]/tbody/tr/td[1]/table/tbody/tr[3]/td[2]')

In [8]:
IndianItCompanies=[]
for i in range(len(name)):
    td={
        'name':name[i].text,
        'industry':industry[i].text[1:],
        'no_of_employees':no_of_employees[i].text[1:],
        'location':location[i].text[1:],
    }
    IndianItCompanies.append(td)

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame(IndianItCompanies)

In [11]:
df

,name,industry,no_of_employees,location
0,Larsen & Toubro Infotech Limited (lti),Information Technology And Services,"10,001+","Mumbai, Maharashtra, India"
1,Coforge,Information Technology And Services,"10,001+","Noida, Uttar Pradesh"
2,Walmart India Private Limited,Information Technology And Services,"5001-10,000","Gurgaon, Harayana"
3,Tech Mahindra Limited Chandigarh,"Information Technology And Services, Internet...","10,001+","Pune, India"
4,Wipro Technologies,Information Technology And Services,"10,001+","Bangalore, Karnataka"
5,Imerit,Information Technology And Services,1001-5000,"Kolkata, West Bengal, India"
6,Sonata Software,"Information Technology And Services, Internet...",1001-5000,"Bangalore, Karnataka, India"
7,Vvdn Technologies,Information Technology And Services,"5001-10,000",Manesar India
8,Karvy Data Management Services,Information Technology And Services,1001-5000,"Hyderabad, India"
9,Avineon India,Information Technology And Services,1001-5000,"Hyderabad, Telangana, India"
10,Ids Infotech Limited,Information Technology And Services,1001-5000,"Mohali, Punjab, India"
11,3d Plm Software Solutions Private Limited,Information Technology And Services,1001-5000,"Mumbai, Maharastra, India"
12,3i Infotech Limited,Information Technology And Services,"5001-10,000","Mumbai, Maharashtra, India"
13,Polaris Consulting & Services Limited,Information Technology And Services,"5001-10,000","Chennai Area, India"
14,Hcl Technologies: Hcl Software Division,Information Technology And Services,"10,001+","Noida, Uttar Pradesh, India"
15,Hcl Enterprise,Information Technology And Services,"10,001+","Noida Area, India"
16,Accenture In India,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
17,Igt Solutions,Information Technology And Services,1001-5000,"Gurgaon, Haryana, India"
18,Essar Steel,Information Technology And Services,1001-5000,"Mumbai Area, India"

In [12]:
name=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[2]/tbody/tr/td[1]/h3/a')

In [13]:
industry=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[2]/tbody/tr/td[1]/table/tbody/tr[1]/td[2]')

In [14]:
no_of_employees=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[2]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]')

In [15]:
location=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[2]/tbody/tr/td[1]/table/tbody/tr[3]/td[2]')

In [16]:
for i in range(len(name)):
    td={
        'name':name[i].text,
        'industry':industry[i].text[1:],
        'no_of_employees':no_of_employees[i].text[1:],
        'location':location[i].text[1:],
    }
    IndianItCompanies.append(td)

In [17]:
df=pd.DataFrame(IndianItCompanies)

In [18]:
df

,name,industry,no_of_employees,location
0,Larsen & Toubro Infotech Limited (lti),Information Technology And Services,"10,001+","Mumbai, Maharashtra, India"
1,Coforge,Information Technology And Services,"10,001+","Noida, Uttar Pradesh"
2,Walmart India Private Limited,Information Technology And Services,"5001-10,000","Gurgaon, Harayana"
3,Tech Mahindra Limited Chandigarh,"Information Technology And Services, Internet...","10,001+","Pune, India"
4,Wipro Technologies,Information Technology And Services,"10,001+","Bangalore, Karnataka"
5,Imerit,Information Technology And Services,1001-5000,"Kolkata, West Bengal, India"
6,Sonata Software,"Information Technology And Services, Internet...",1001-5000,"Bangalore, Karnataka, India"
7,Vvdn Technologies,Information Technology And Services,"5001-10,000",Manesar India
8,Karvy Data Management Services,Information Technology And Services,1001-5000,"Hyderabad, India"
9,Avineon India,Information Technology And Services,1001-5000,"Hyderabad, Telangana, India"
10,Ids Infotech Limited,Information Technology And Services,1001-5000,"Mohali, Punjab, India"
11,3d Plm Software Solutions Private Limited,Information Technology And Services,1001-5000,"Mumbai, Maharastra, India"
12,3i Infotech Limited,Information Technology And Services,"5001-10,000","Mumbai, Maharashtra, India"
13,Polaris Consulting & Services Limited,Information Technology And Services,"5001-10,000","Chennai Area, India"
14,Hcl Technologies: Hcl Software Division,Information Technology And Services,"10,001+","Noida, Uttar Pradesh, India"
15,Hcl Enterprise,Information Technology And Services,"10,001+","Noida Area, India"
16,Accenture In India,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
17,Igt Solutions,Information Technology And Services,1001-5000,"Gurgaon, Haryana, India"
18,Essar Steel,Information Technology And Services,1001-5000,"Mumbai Area, India"
19,Hcl Infosystems Limited,Information Technology And Services,"10,001+","Noida, Up, India"
20,L&t Technology Services Limited,Information Technology And Services,"10,001+","Vadodara, Gujarat, India"
21,Infosys,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
22,Infinite Computer Solutions,Information Technology And Services,1001-5000,"Bangalore, Karnataka, India"
23,Societe Generale Global Solution Centre,Information Technology And Services,1001-5000,"Bangalore, Karnataka, India"
24,Traject Freight Private Limited,Information Technology And Services,1001-5000,"Noida, Uttar Pradesh, India"
25,Firstsource,"Outsourcing/offshoring, Bpo, Information Tech...","5001-10,000","Mumbai, Mh"
26,Agc Networks Limited,Information Technology And Services,1001-5000,"Mumbai, Maharashtra, India"
27,Hexaware Technologies,Information Technology And Services,"10,001+","Navi Mumbai, Maharashtra, India"
28,Bosch Engineering And Business Solutions,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
29,Oracle,Information Technology And Services,1001-5000,"Noida, Up, India"
30,Ibm,Information Technology And Services,"5001-10,000","Armonk, New York, United States"
31,Datamatics Global Services Limited,Information Technology And Services,"5001-10,000","Midc, Andheri (east), Mumbai, Maharashtra, India"
32,Tata Consultancy Services,"Information Technology And Services, B2b, Tec...","10,001+","Mumbai Area, India"
33,Birlasoft,Information Technology And Services,"10,001+","Pune, Maharashtra, India"
34,Persistent Systems,Information Technology And Services,"10,001+","Pune, Maharashtra, India"
35,Wns Global Services,"Outsourcing/offshoring, Bpo, Information Tech...","10,001+","Mumbai, Maharashtra"
36,Cms It Services Private Limited,Information Technology And Services,1001-5000,"Bengaluru, Karnataka, India"
37,Clover Infotech,"Information Technology And Services, Software...",1001-5000,"Mumbai, Maharashtra, India"

In [19]:
name=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[3]/tbody/tr/td[1]/h3/a')

In [20]:
industry=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[3]/tbody/tr/td[1]/table/tbody/tr[1]/td[2]')

In [21]:
no_of_employees=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[3]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]')

In [22]:
location=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[3]/tbody/tr/td[1]/table/tbody/tr[3]/td[2]')

In [23]:
for i in range(len(name)):
    td={
        'name':name[i].text,
        'industry':industry[i].text[1:],
        'no_of_employees':no_of_employees[i].text[1:],
        'location':location[i].text[1:],
    }
    IndianItCompanies.append(td)

In [24]:
IndianItCompanies

[{'name': 'Larsen & Toubro Infotech Limited (lti)',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Mumbai, Maharashtra, India'},
 {'name': 'Coforge',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Noida, Uttar Pradesh'},
 {'name': 'Walmart India Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Gurgaon, Harayana'},
 {'name': 'Tech Mahindra Limited Chandigarh',
  'industry': ' Information Technology And Services, Internet, Management Consulting, Outsourcing/offshoring, Computer Software',
  'no_of_employees': ' 10,001+',
  'location': ' Pune, India'},
 {'name': 'Wipro Technologies',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Bangalore, Karnataka'},
 {'name': 'Imerit',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Kolkata, West Bengal, India'},
 {'name': 'Sonata Software',
  'industry': ' Information Technology And Services, Internet Of Things, Cyber Security, Artificial Intelligence, Blockchain, Chat Bot, Machine Learning',
  'no_of_employees': ' 1001-5000',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Vvdn Technologies',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Manesar India'},
 {'name': 'Karvy Data Management Services',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Hyderabad, India'},
 {'name': 'Avineon India',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Hyderabad, Telangana, India'},
 {'name': 'Ids Infotech Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Mohali, Punjab, India'},
 {'name': '3d Plm Software Solutions Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Mumbai, Maharastra, India'},
 {'name': '3i Infotech Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Mumbai, Maharashtra, India'},
 {'name': 'Polaris Consulting & Services Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Chennai Area, India'},
 {'name': 'Hcl Technologies: Hcl Software Division',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Noida, Uttar Pradesh, India'},
 {'name': 'Hcl Enterprise',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Noida Area, India'},
 {'name': 'Accenture In India',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Igt Solutions',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Gurgaon, Haryana, India'},
 {'name': 'Essar Steel',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Mumbai Area, India'},
 {'name': 'Hcl Infosystems Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Noida, Up, India'},
 {'name': 'L&t Technology Services Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Vadodara, Gujarat, India'},
 {'name': 'Infosys',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Infinite Computer Solutions',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Societe Generale Global Solution Centre',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Traject Freight Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Noida, Uttar Pradesh, India'},
 {'name': 'Firstsource',
  'industry': ' Outsourcing/offshoring, Bpo, Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Mumbai, Mh'},
 {'name': 'Agc Networks Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Mumbai, Maharashtra, India'},
 {'name': 'Hexaware Technologies',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Navi Mumbai, Maharashtra, India'},
 {'name': 'Bosch Engineering And Business Solutions',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Oracle',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Noida, Up, India'},
 {'name': 'Ibm',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Armonk, New York, United States'},
 {'name': 'Datamatics Global Services Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Midc, Andheri (east), Mumbai, Maharashtra, India'},
 {'name': 'Tata Consultancy Services',
  'industry': ' Information Technology And Services, B2b, Technology Consulting, Enterprise Software, Data Analytics, Cloud Services, Artificial Intelligence, Multicity, Multinational, Erp',
  'no_of_employees': ' 10,001+',
  'location': ' Mumbai Area, India'},
 {'name': 'Birlasoft',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Pune, Maharashtra, India'},
 {'name': 'Persistent Systems',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Pune, Maharashtra, India'},
 {'name': 'Wns Global Services',
  'industry': ' Outsourcing/offshoring, Bpo, Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Mumbai, Maharashtra'},
 {'name': 'Cms It Services Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Bengaluru, Karnataka, India'},
 {'name': 'Clover Infotech',
  'industry': ' Information Technology And Services, Software Testing, Website Development',
  'no_of_employees': ' 1001-5000',
  'location': ' Mumbai, Maharashtra, India'},
 {'name': 'Pine Labs',
  'industry': ' Financial Services, Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Noida, Uttar Pradesh, India'},
 {'name': 'To The New',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Noida, Uttar Pradesh, India'},
 {'name': 'Ericsson India',
  'industry': ' Information Technology And Services, Digital Marketing, Website Development, Internet Of Things',
  'no_of_employees': ' 1001-5000',
  'location': ' Gurgaon, India'},
 {'name': 'Urbanclap',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Gurgaon, Harayana, India'},
 {'name': 'Eclerx',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Mumbai, Maharashtra, India'},
 {'name': 'Suntec India',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' New Delhi, Delhi, India'},
 {'name': 'Justdial',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Mumbai, Maharashtra, India'},
 {'name': 'Siemens Technology India',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Bangalore, Karnataka, India'},
 {'name': 'Nec Technologies India Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' New Delhi, India'},
 {'name': 'Medlife International Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Bengaluru, Karnataka, India'},
 {'name': 'Legato Health Technologies',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Bengaluru, Karnataka'},
 {'name': 'Progressive Infotech Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Noida Area, India'},
 {'name': 'Infosys Bpm',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 10,001+',
  'location': ' Bengaluru Area, India'},
 {'name': 'Honeywell Turbo (india)',
  'industry': ' Automotive, Information Technology And Services, Mechanical Or Industrial Engineering',
  'no_of_employees': ' 10,001+',
  'location': ' Gurgaon, Haryana'},
 {'name': 'Precision Informatic M Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Chennai, Tamilnadu, India'},
 {'name': 'Pricewaterhousecoopers - Service Delivery Center (pwc Sdc)',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 5001-10,000',
  'location': ' Bengaluru Area, India'},
 {'name': 'Qualitykiosk Technologies Private Limited',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Navi Mumbai, Maharashtra, India'},
 {'name': 'Exl Services',
  'industry': ' Information Technology And Services, Consumer Services',
  'no_of_employees': ' 10,001+',
  'location': ' Noida, Uttar Pradesh'},
 {'name': 'Meltwater',
  'industry': ' Information Technology And Services',
  'no_of_employees': ' 1001-5000',
  'location': ' Mumbai, Maharashtra'}]

In [25]:
df=pd.DataFrame(IndianItCompanies)
df

,name,industry,no_of_employees,location
0,Larsen & Toubro Infotech Limited (lti),Information Technology And Services,"10,001+","Mumbai, Maharashtra, India"
1,Coforge,Information Technology And Services,"10,001+","Noida, Uttar Pradesh"
2,Walmart India Private Limited,Information Technology And Services,"5001-10,000","Gurgaon, Harayana"
3,Tech Mahindra Limited Chandigarh,"Information Technology And Services, Internet...","10,001+","Pune, India"
4,Wipro Technologies,Information Technology And Services,"10,001+","Bangalore, Karnataka"
5,Imerit,Information Technology And Services,1001-5000,"Kolkata, West Bengal, India"
6,Sonata Software,"Information Technology And Services, Internet...",1001-5000,"Bangalore, Karnataka, India"
7,Vvdn Technologies,Information Technology And Services,"5001-10,000",Manesar India
8,Karvy Data Management Services,Information Technology And Services,1001-5000,"Hyderabad, India"
9,Avineon India,Information Technology And Services,1001-5000,"Hyderabad, Telangana, India"
10,Ids Infotech Limited,Information Technology And Services,1001-5000,"Mohali, Punjab, India"
11,3d Plm Software Solutions Private Limited,Information Technology And Services,1001-5000,"Mumbai, Maharastra, India"
12,3i Infotech Limited,Information Technology And Services,"5001-10,000","Mumbai, Maharashtra, India"
13,Polaris Consulting & Services Limited,Information Technology And Services,"5001-10,000","Chennai Area, India"
14,Hcl Technologies: Hcl Software Division,Information Technology And Services,"10,001+","Noida, Uttar Pradesh, India"
15,Hcl Enterprise,Information Technology And Services,"10,001+","Noida Area, India"
16,Accenture In India,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
17,Igt Solutions,Information Technology And Services,1001-5000,"Gurgaon, Haryana, India"
18,Essar Steel,Information Technology And Services,1001-5000,"Mumbai Area, India"
19,Hcl Infosystems Limited,Information Technology And Services,"10,001+","Noida, Up, India"
20,L&t Technology Services Limited,Information Technology And Services,"10,001+","Vadodara, Gujarat, India"
21,Infosys,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
22,Infinite Computer Solutions,Information Technology And Services,1001-5000,"Bangalore, Karnataka, India"
23,Societe Generale Global Solution Centre,Information Technology And Services,1001-5000,"Bangalore, Karnataka, India"
24,Traject Freight Private Limited,Information Technology And Services,1001-5000,"Noida, Uttar Pradesh, India"
25,Firstsource,"Outsourcing/offshoring, Bpo, Information Tech...","5001-10,000","Mumbai, Mh"
26,Agc Networks Limited,Information Technology And Services,1001-5000,"Mumbai, Maharashtra, India"
27,Hexaware Technologies,Information Technology And Services,"10,001+","Navi Mumbai, Maharashtra, India"
28,Bosch Engineering And Business Solutions,Information Technology And Services,"10,001+","Bangalore, Karnataka, India"
29,Oracle,Information Technology And Services,1001-5000,"Noida, Up, India"
30,Ibm,Information Technology And Services,"5001-10,000","Armonk, New York, United States"
31,Datamatics Global Services Limited,Information Technology And Services,"5001-10,000","Midc, Andheri (east), Mumbai, Maharashtra, India"
32,Tata Consultancy Services,"Information Technology And Services, B2b, Tec...","10,001+","Mumbai Area, India"
33,Birlasoft,Information Technology And Services,"10,001+","Pune, Maharashtra, India"
34,Persistent Systems,Information Technology And Services,"10,001+","Pune, Maharashtra, India"
35,Wns Global Services,"Outsourcing/offshoring, Bpo, Information Tech...","10,001+","Mumbai, Maharashtra"
36,Cms It Services Private Limited,Information Technology And Services,1001-5000,"Bengaluru, Karnataka, India"
37,Clover Infotech,"Information Technology And Services, Software...",1001-5000,"Mumbai, Maharashtra, India"
38,Pine Labs,"Financial Services, Information Technology An...",1001-5000,"Noida, Uttar Pradesh, India"
39,To The New,Information Technology And Services,1001-5000,"Noida, Uttar Pradesh, India"
40,Ericsson India,"Information Technology And Services, Digital ...",1001-5000,"Gurgaon, India"
41,Urbanclap,Information Technology And Services,1001-5000,"Gurgaon, Harayana, India"
42,Eclerx,Information Technology And Services,"5001-10,000","Mumbai, Maharashtra, India"
43,Suntec India,Information Technology And Services,1001-5000,"New Delhi, Delhi, India"
44,Justdial,Information Technology And Services,"5001-10,000","Mumbai, Maharashtra, India"
45,Siemens Technology India,Information Technology And Services,"5001-10,000","Bangalore, Karnataka, India"
46,Nec Technologies India Private Limited,Information Technology And Services,1001-5000,"New Delhi, India"
47,Medlife International Private Limited,Information Technology And Services,1001-5000,"Bengaluru, Karnataka, India"
48,Legato Health Technologies,Information Technology And Services,1001-5000,"Bengaluru, Karnataka"
49,Progressive Infotech Private Limited,Information Technology And Services,1001-5000,"Noida Area, India"
50,Infosys Bpm,Information Technology And Services,"10,001+","Bengaluru Area, India"
51,Honeywell Turbo (india),"Automotive, Information Technology And Servic...","10,001+","Gurgaon, Haryana"
52,Precision Informatic M Private Limited,Information Technology And Services,1001-5000,"Chennai, Tamilnadu, India"
53,Pricewaterhousecoopers - Service Delivery Cent...,Information Technology And Services,"5001-10,000","Bengaluru Area, India"
54,Qualitykiosk Technologies Private Limited,Information Technology And Services,1001-5000,"Navi Mumbai, Maharashtra, India"
55,Exl Services,"Information Technology And Services, Consumer...","10,001+","Noida, Uttar Pradesh"
56,Meltwater,Information Technology And Services,1001-5000,"Mumbai, Maharashtra"

In [26]:
name=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[4]/tbody/tr/td[1]/h3/a')

In [27]:
industry=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[4]/tbody/tr/td[1]/table/tbody/tr[1]/td[2]')

In [28]:
no_of_employees=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[4]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]')

In [29]:
location=driver.find_elements(By.XPATH,value='//*[@id="container"]/div[1]/div[2]/div[2]/table[4]/tbody/tr/td[1]/table/tbody/tr[3]/td[2]')

In [30]:
for i in range(len(name)):
    td={
        'name':name[i].text,
        'industry':industry[i].text[1:],
        'no_of_employees':no_of_employees[i].text[1:],
        'location':location[i].text[1:],
    }
    IndianItCompanies.append(td)

In [35]:
df=pd.DataFrame(IndianItCompanies)
df

,name,industry,no_of_employees,location
0,Larsen & Toubro Infotech Limited (lti),Information Technology And Services,"10,001+","Mumbai, Maharashtra, India"
1,Coforge,Information Technology And Services,"10,001+","Noida, Uttar Pradesh"
2,Walmart India Private Limited,Information Technology And Services,"5001-10,000","Gurgaon, Harayana"
3,Tech Mahindra Limited Chandigarh,"Information Technology And Services, Internet...","10,001+","Pune, India"
4,Wipro Technologies,Information Technology And Services,"10,001+","Bangalore, Karnataka"
...,...,...,...,...
69,Ctrls Datacenters Limited,Information Technology And Services,1001-5000,"Hyderabad Area, India"
70,Servion Global Solutions,Information Technology And Services,1001-5000,"Thiruvanmiyur, Chennai, India"
71,Valuelabs,Information Technology And Services,"5001-10,000","Hyderabad, Andhra Pradesh, India"
72,Allied Digital Services Limited,Information Technology And Services,1001-5000,"Mumbai, Maharashtra, India"
73,Netmagic Solutions (an Ntt Communications Comp...,Information Technology And Services,1001-5000,"Mumbai, Maharashtra, India"

In [36]:
excel=pd.ExcelWriter("itcmp.xlsx")

In [37]:
df.to_excel(excel)

In [38]:
excel.save()

In [34]:
df.tail()

,name,industry,no_of_employees,location
69,Ctrls Datacenters Limited,Information Technology And Services,1001-5000,"Hyderabad Area, India"
70,Servion Global Solutions,Information Technology And Services,1001-5000,"Thiruvanmiyur, Chennai, India"
71,Valuelabs,Information Technology And Services,"5001-10,000","Hyderabad, Andhra Pradesh, India"
72,Allied Digital Services Limited,Information Technology And Services,1001-5000,"Mumbai, Maharashtra, India"
73,Netmagic Solutions (an Ntt Communications Comp...,Information Technology And Services,1001-5000,"Mumbai, Maharashtra, India"

In [33]:
driver.get("https://www.easyleadz.com/company/larsen-amp-toubro-infotech-ltd-lti")

In [43]:
key=driver.find_elements(By.XPATH,value='//*[@id="overview"]/table/tbody/tr/td[2]/a')

In [44]:
for i in key:
    print(i)

<selenium.webdriver.remote.webelement.WebElement (session="14d298cddf69d941ef60bde31c8bd1c6", element="23341c51-c5df-4224-bdbc-7c206f65f980")>
<selenium.webdriver.remote.webelement.WebElement (session="14d298cddf69d941ef60bde31c8bd1c6", element="c3c63f80-01c5-458c-91ad-c9b9cda208d2")>

In [60]:
driver.get('https://www.zaubacorp.com/')
driver.maximize_window()

In [71]:
inputElement = driver.find_element_by_id('searchid')
inputElement.send_keys('Wipro Technologies')
inputElement.send_keys(Keys.ENTER)
ele=driver.find_elements(By.XPATH,value="//*[@id='results']/tbody/tr[1]/td[2]/a")

C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_5136\1930698274.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  inputElement = driver.find_element_by_id('searchid')

In [72]:
for i in ele:
    print(i.text)

NIPRO TECHNOLOGIES LIMITED